SLOT RCDATA "slot.png"
XBOX_BUTTON_COLOR_A RCDATA "xbox/xbox_button_color_a.png"
XBOX_BUTTON_COLOR_B RCDATA "xbox/xbox_button_color_b.png"
XBOX_BUTTON_COLOR_X RCDATA "xbox/xbox_button_color_x.png"
XBOX_BUTTON_COLOR_Y RCDATA "xbox/xbox_button_color_y.png"
XBOX_BUTTON_MENU RCDATA "xbox/xbox_button_menu.png"
XBOX_BUTTON_VIEW RCDATA "xbox/xbox_button_view.png"
XBOX_DPAD_DOWN RCDATA "xbox/xbox_dpad_down.png"
XBOX_DPAD_LEFT RCDATA "xbox/xbox_dpad_left.png"
XBOX_DPAD_RIGHT RCDATA "xbox/xbox_dpad_right.png"
XBOX_DPAD_UP RCDATA "xbox/xbox_dpad_up.png"
XBOX_GUIDE RCDATA "xbox/xbox_guide.png"
XBOX_LB RCDATA "xbox/xbox_lb.png"
XBOX_LT RCDATA "xbox/xbox_lt.png"
XBOX_RB RCDATA "xbox/xbox_rb.png"
XBOX_RT RCDATA "xbox/xbox_rt.png"
XBOX_BUTTON_COLOR_A_SMALL RCDATA "xbox/small/xbox_button_color_a_small.png"
XBOX_BUTTON_COLOR_B_SMALL RCDATA "xbox/small/xbox_button_color_b_small.png"
XBOX_BUTTON_COLOR_X_SMALL RCDATA "xbox/small/xbox_button_color_x_small.png"
XBOX_BUTTON_COLOR_Y_SMALL RCDATA "xbox/small/xbox_button_color_y_small.png"
XBOX_BUTTON_MENU_SMALL RCDATA "xbox/small/xbox_button_menu_small.png"
XBOX_BUTTON_VIEW_SMALL RCDATA "xbox/small/xbox_button_view_small.png"
XBOX_DPAD_DOWN_SMALL RCDATA "xbox/small/xbox_dpad_down_small.png"
XBOX_DPAD_LEFT_SMALL RCDATA "xbox/small/xbox_dpad_left_small.png"
XBOX_DPAD_RIGHT_SMALL RCDATA "xbox/small/xbox_dpad_right_small.png"
XBOX_DPAD_UP_SMALL RCDATA "xbox/small/xbox_dpad_up_small.png"
XBOX_GUIDE_SMALL RCDATA "xbox/small/xbox_guide_small.png"
XBOX_LB_SMALL RCDATA "xbox/small/xbox_lb_small.png"
XBOX_LT_SMALL RCDATA "xbox/small/xbox_lt_small.png"
XBOX_RB_SMALL RCDATA "xbox/small/xbox_rb_small.png"
XBOX_RT_SMALL RCDATA "xbox/small/xbox_rt_small.png"
PLAYSTATION_BUTTON_COLOR_CIRCLE RCDATA "playstation/playstation_button_color_circle.png"
PLAYSTATION_BUTTON_COLOR_CROSS RCDATA "playstation/playstation_button_color_cross.png"
PLAYSTATION_BUTTON_COLOR_SQUARE RCDATA "playstation/playstation_button_color_square.png"
PLAYSTATION_BUTTON_COLOR_TRIANGLE RCDATA "playstation/playstation_button_color_triangle.png"
PLAYSTATION_DPAD_DOWN RCDATA "playstation/playstation_dpad_down.png"
PLAYSTATION_DPAD_LEFT RCDATA "playstation/playstation_dpad_left.png"
PLAYSTATION_DPAD_RIGHT RCDATA "playstation/playstation_dpad_right.png"
PLAYSTATION_DPAD_UP RCDATA "playstation/playstation_dpad_up.png"
PLAYSTATION_TRIGGER_L1 RCDATA "playstation/playstation_trigger_l1.png"
PLAYSTATION_TRIGGER_L2 RCDATA "playstation/playstation_trigger_l2.png"
PLAYSTATION_TRIGGER_R1 RCDATA "playstation/playstation_trigger_r1.png"
PLAYSTATION_TRIGGER_R2 RCDATA "playstation/playstation_trigger_r2.png"
PLAYSTATION_BUTTON_COLOR_CIRCLE_SMALL RCDATA "playstation/small/playstation_button_color_circle_small.png"
PLAYSTATION_BUTTON_COLOR_CROSS_SMALL RCDATA "playstation/small/playstation_button_color_cross_small.png"
PLAYSTATION_BUTTON_COLOR_SQUARE_SMALL RCDATA "playstation/small/playstation_button_color_square_small.png"
PLAYSTATION_BUTTON_COLOR_TRIANGLE_SMALL RCDATA "playstation/small/playstation_button_color_triangle_small.png"
PLAYSTATION_DPAD_DOWN_SMALL RCDATA "playstation/small/playstation_dpad_down_small.png"
PLAYSTATION_DPAD_LEFT_SMALL RCDATA "playstation/small/playstation_dpad_left_small.png"
PLAYSTATION_DPAD_RIGHT_SMALL RCDATA "playstation/small/playstation_dpad_right_small.png"
PLAYSTATION_DPAD_UP_SMALL RCDATA "playstation/small/playstation_dpad_up_small.png"
PLAYSTATION_TRIGGER_L1_SMALL RCDATA "playstation/small/playstation_trigger_l1_small.png"
PLAYSTATION_TRIGGER_L2_SMALL RCDATA "playstation/small/playstation_trigger_l2_small.png"
PLAYSTATION_TRIGGER_R1_SMALL RCDATA "playstation/small/playstation_trigger_r1_small.png"
PLAYSTATION_TRIGGER_R2_SMALL RCDATA "playstation/small/playstation_trigger_r2_small.png"
